@media screen and (min-width:1279px) {
    * {
        /* border: 1px solid rgb(37, 216, 223); */
    }

    p {
        font-size: 1em;
    }

    a {
        font-size: 1em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

    input {
        font-size: 1em;
    }

    .sections {
        height: 100vh;
        min-height: 100vh;
    }

    .sections .content .mid-container {
        flex-direction: row;
    }

    .sections .content .left-container {
        order: 1;
        padding: 0;
        margin: 0;
        width: 30%;
    }
    
    .sections .content .right-container {
        order: 2;
    }

    .content .top-container {
        margin-top: 5%;
    }

    #section-1 .content .mid-container {
        align-items: flex-start;
        /* justify-content: center; */
        justify-content: space-between;
        width: 70%;
    }

    #section-1 .content .mid-container .right-container {
        text-align: right;
    }

    #contact-form {
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #contact-form * {
        margin-bottom: 10px;
    }

    #section-2, #section-4 {
        height: 100vh;
        min-height: 100vh;
        max-height: 100vh;
    }

    #section-2 .content .mid-container {
        height: 50%;
        flex-direction: row;
    }

    #section-3 {
        padding: 0;
    }
    
    #section-3 .content {
        flex-direction: column;
        height: 100%;
    }
    
    #section-3 .content .mid-container .segment {
        /* height: 100%; */
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .image-placeholder {
        display: flex;
        height: 150px;
        width: 150px;
        background-color: white;
        margin: 15px;
    }
    
    #section-3 .content .mid-container #first-segment,
    #section-3 .content .mid-container #third-segment {
        flex-grow: 1;
        width: 30%;
        flex-direction: column;
    }
    
    #section-3 .content .mid-container #first-segment .image-placeholder {
        align-self: flex-end;
        height: 150px;
        width: 150px;
    }
    
    #section-3 .content .mid-container #second-segment {
        flex-grow: 2;
        flex-wrap: wrap;
    }
    
    #section-3 .content .mid-container #second-segment .image-placeholder:nth-child(1),
    #section-3 .content .mid-container #second-segment .image-placeholder:nth-child(4) {
        width: 60%;
        height: 250px;
    }
    #section-3 .content .mid-container #second-segment .image-placeholder:nth-child(1) {
        align-self: flex-end;
    }
    
    #section-3 .content .mid-container #second-segment .image-placeholder:nth-child(3),
    #section-3 .content .mid-container #second-segment .image-placeholder:nth-child(2) {
        width: 15vh;
        height: 15vh;
    }
    
    #section-3 .content .mid-container #second-segment .image-placeholder:nth-child(2) {
        align-self: flex-end;
    }
    
    #section-3 .content .mid-container #second-segment .image-placeholder:nth-child(3) {
        align-self: flex-start;
    }
    
    #section-3 .content .mid-container #second-segment .image-placeholder:nth-child(4) {
        align-self: flex-start;
    }
    
    #section-3 .content .mid-container #third-segment .image-placeholder {
        align-self: flex-start;
    }

    #section-4 .content {
        flex-direction: column;
    }
    
    #section-4 .content .mid-container {
        height: 50%;
    }

    #section-4 .content .mid-container .details {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    #section-4 .content .mid-container .tile {
        width: 40%;
        padding: 20px;
    }

    .inter-section {
        width: 100%;
    }

    .inter-section .content {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}