* {
    margin: 0;
    padding: 0;
    /* border: 1px solid rgb(204, 34, 43); */
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    overflow: visible;
}

body {
    overflow-x: hidden;
    /* height: 100vh; */
}

p {
    font-size: 3vw;
}

a {
    font-size: 3vw;
}

h1 {
    font-size: 6vw;
    margin-bottom: 10px;
}

h2 {
    font-size: 5vw;
    margin-bottom: 5px;
}

h3 {
    font-size: 4vw;
    margin-bottom: 5px;
}

form * {
    margin: 5px;
}

input {
    font-size: 3vw;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    background-color: #F0F4F7;
    border: none;
}

.sections {
    min-height: 100vw;
    height: 100vh;
}

.sections:nth-child(even) {
    background-color: #FFFFFF;
    color: #606F86;
}

.sections:nth-child(even) .presentation p {
    font-weight: 300;
    color: #606F86;
}

.sections:nth-child(odd) {
    background-color: #606F86;
    color: white;
}

.sections:nth-child(odd) .presentation p {
    font-weight: 300;
    color: #ffffff75;
}

.sections .content {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
}

.sections .content .left-container {
    display: flex;
    justify-content: center;
    order: 2;
    margin-top: 10%;
}

.sections .content .right-container {
    display: flex;
    justify-content: end;
    order: 1;
}

.sections .content .right-container .presentation {
    transition-delay: 1s;
}

.sections .content .right-container .presentation p {
    font-weight: 300;
    color: #ffffff75
}

.content .top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    margin-top: 10%;
}

.content .mid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .top-container .presentation {
    text-align: center;
}


.btn {
    background-color: #4378AC;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    color: white;
}

.btn:hover, .btn:focus {
    cursor: pointer;
    color: #606F86;
    background-color: white;
}

.inter-section {
    height: 30vh;
    background-color: #606F86;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inter-section .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
    margin: 25px;
}

.inter-section .content a {
    margin: 10px;
    background-color: white;
    color: #606F86;
}

.inter-section .content a:hover, .inter-section .content a:focus {
    background-color: #4378AC;
    color: white;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #455562;
    color: white;
}

.image-placeholder {
    display: flex;
    height: 20vw;
    width: 60vw;
    background-color: white;
    margin: 2px;
}

#header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #606F86;
    color: white;
    position: absolute;
    top: 0;
    z-index: 1;
    animation-name: header-apparition;
    animation-duration: 2s;
}

#header #logo {
    margin-left: 10%;
}
#header #navbar {
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-right: 10%;
}

#header #navbar li a {
    color: white;
}

#section-1 .content {
    align-items: center;
    justify-content: center;
}

#section-1 .btn {
    background-color: #606F86;
    color: white;
    border: 1px solid white;
}

#section-1 .btn:hover {
    background-color: #4378AC;
}

#section-2, #section-4 {
    height: 150vh;
    min-height: 150vh;
    max-height: 150vh;
}

#section-2 .content .mid-container {
    flex-direction: row;
}

#section-2 .content .mid-container .card {
    padding: 1vh;
    border-left: 1px solid #606f8627;
    margin-top: 1vh;
}

#section-2 .content .mid-container .card a {
    color: #4378AC;
}

#section-2 .content .bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-2 .content .bottom-container a {
    background-color: #4378AC;
    color: white;
}

#section-2 .content .bottom-container a:hover, #section-2 .content .bottom-container a:focus {
    color: #4378AC;
    background-color: white;
    border: 1px solid #4378AC;
}

#section-3 {
    padding: 0;
}

#section-3 .content {
    margin: 0;
}

#section-3 .content .mid-container {
    width: 100%;
}

#section-3 .content .mid-container .segment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#section-3 .content .mid-container #first-segment,
#section-3 .content .mid-container #third-segment {
    flex-direction: column;
}

#section-3 .content .mid-container #first-segment .image-placeholder {
    align-self: flex-end;
    height: 25vw;
    width: 65vw;

}

#section-3 .content .mid-container #second-segment .image-placeholder:nth-child(1),
#section-3 .content .mid-container #second-segment .image-placeholder:nth-child(4) {
    height: 45vw;
    width: 45vw;
}

#section-3 .content .mid-container #second-segment .image-placeholder:nth-child(1) {
    align-self: flex-end;
}

#section-3 .content .mid-container #second-segment .image-placeholder:nth-child(3),
#section-3 .content .mid-container #second-segment .image-placeholder:nth-child(2) {
    height: 25vw;
    width: 35vw;
}

#section-3 .content .mid-container #second-segment .image-placeholder:nth-child(2) {
    align-self: flex-end;
}

#section-3 .content .mid-container #second-segment .image-placeholder:nth-child(3) {
    align-self: flex-start;
}

#section-3 .content .mid-container #second-segment .image-placeholder:nth-child(4) {
    align-self: flex-start;
}

#section-3 .content .mid-container #third-segment .image-placeholder {
    align-self: flex-start;
}

#section-4 .content {
    flex-direction: column;
}

#section-4 .content .mid-container .details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#section-4 .content .mid-container .tile {
    width: 40%;
    padding: 10px;
    border-left: 1px solid #606f8627;
    margin-top: 15px;
}


#section-4 .content .top-container #options {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

#section-4 .content .top-container #options li {
    border: 1px solid #606f867e;
    padding: 5px 15px 5px 15px;
}

#section-4 .content .top-container #options li a {
    color: #606F86;
}

#section-4 .content .top-container #options li:hover, #section-4 .content .top-container #options li:focus {
    cursor: pointer;
    background-color: #606F86;
}

#section-4 .content .top-container #options li:hover a{
    color: white;
}

#section-4 .content .top-container #options li:focus a{
    color: white;
}

#section-4 .content .top-container #options li:nth-child(1) {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#section-4 .content .top-container #options li:nth-child(3) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#section-5 .content {
    flex-direction: column;
    height: auto;
}

#section-5 .content .mid-container {
    flex-direction: column;
    align-items: flex-start;
}

#section-5 .content .mid-container {
    margin-top: 5vh;
    width: 100%;
}

#section-5 .content .mid-container .question {
    width: 100%;
    margin-bottom: 10px;
}

#section-5 .content .mid-container .question .answer {
    background-color: #F0F4F7;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;

}

#footer {
    height: 50vh;
    max-height: 50vh;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footer .card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #606F86;
    height: 30%;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25px;
}

#footer .card #question-form {
    display: flex;
    justify-content: space-between;
}

#footer .card #question-form .input {
    border: none;
    background-color: #F0F4F7;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #606F86;
    color: white;
    position: absolute;
    top: 0;
    z-index: 1;
    animation-name: header-apparition;
    animation-duration: 2s;
}

#header #logo {
    /* margin-left: 10%; */
}

#header #navbar {
    display: flex;
    /* width: 40%; */
    justify-content: space-between;
    /* margin-right: 10%; */
}

#header #navbar li a {
    color: white;
}